@model IEnumerable<BookHolder.Areas.Admin.Models.Customers>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-container">
    <!-- Content Wrapper START -->
    <div class="main-content">
        <div class="page-header">
            <div class="header-sub-title">
                <nav class="breadcrumb breadcrumb-dash">
                    <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang Chủ</a>
                    @*<a class="breadcrumb-item" href="#">Tables</a>*@
                    <span class="breadcrumb-item active">Danh Sách Khách Hàng</span>
                </nav>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4>Danh Sách Tài Khoản</h4>
                <div class="m-t-25">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="text-align: center" scope="col">Id</th>
                                    <th style="text-align: center" scope="col">Tên</th>
                                    <th style="text-align: center" scope="col">Số ĐT</th>
                                    <th style="text-align: center" scope="col">Địa Chỉ</th>
                                    <th style="text-align: center" scope="col">Trạng Thái</th>
                                    <th style="text-align: center" scope="col">#</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th scope="row">@item.Id</th>
                                        <td>@item.CustomerName</td>
                                        <td>@item.Phone</td>
                                        <td>@item.Address</td>
                                        <td>
                                            @if (item.Status)
                                            {
                                                <div class="d-flex align-items-center">
                                                    <div class="badge badge-success badge-dot m-r-10"></div>
                                                    <div>Hoạt Động</div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="d-flex align-items-center">
                                                    <div class="badge badge-danger badge-dot m-r-10"></div>
                                                    <div>Chặn</div>
                                                </div>                                               
                                            }
                                        </td>
                                        <td class="text-right">
                                            <button class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                                                <a asp-area="Admin" asp-controller="Customers" asp-action="Edit" asp-route-id="@item.Id"><i class="anticon anticon-edit"></i></a>
                                            </button>
                                            <button class="btn btn-icon btn-hover btn-sm btn-rounded">
                                                <a asp-area="Admin" asp-controller="Customers" asp-action="Delete" asp-route-id="@item.Id"><i class="anticon anticon-delete"></i></a>
                                            </button>
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Content Wrapper END -->
    </div>
    <!-- Page Container END -->

</div>
